[package]
name = "client"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[[bin]]
name = "client"
path = "src/bin/client.rs"

[dependencies]
common = { path = "../common" }
tokio = { version = "1", features = ["full"] }
quinn = "0.11"
rustls = { version = "0.23", default-features = false, features = ["ring"] }
clap = { version = "4", features = ["derive"] }
anyhow = "1"
