/target
Cargo.lock
.vscode
.DS_Store
bacon.toml


# Ignore AI files
.claude
Claude.md
AGENTS.md

# Ignore all TLS certificates and private keys
*.pem
*.key
*.crt
*.csr

# Allow only these specific certificates for development and testing
!/cert.pem
!/key.pem
